@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */

/* Add this at the end of the file */
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  15% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  85% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.animate-fade-in-out {
  animation: fadeInOut 4s ease-in-out forwards;
}